.moderator {
    .tile-view {
        #filmStripRemoteVideos {
            align-items: flex-end;
            justify-content: flex-end;
            
        }
        #localVideoTileViewContainer {
            position: absolute;
            left: 10px;
            bottom: 10px;
            top: 10px;
            width:48%;

            >.videocontainer {
                width:100% !important;
                height: 100% !important;
            }

        }
        #filmStripRemoteVideosContainer {
            width: 48% !important;
			overflow-y: scroll;

            > .videocontainer {
                width: 49% !important;
                min-width: 49% !important;
            }
        }
    }

/* to sort the videocontainer */
// no sorting needed anymore, because there is no box without video anymore in trainer view
    .display-avatar-only {
		display: none !important;
    }
}
